{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block header %}
<div class="poll_header">
    <h1>Bienvenue sur mon application de sondage</h1>
</div>
{% endblock %}

{% block content %}
    <div class="poll_container">

        <a href="{% url 'polls:all' %}">Questions</a>
        <a href="{% url 'polls:statistics' %}">Statistiques</a>
        <a href="{% url 'polls:add' %}">Créer un sondage</a>
        <a href="{% url 'polls:courses' %}">Liste des cours</a>
    </div>
{% endblock %}
