{% extends "base.html" %}

{% block title %}Statistiques{% endblock %}

{% block content %}
<div class="container">
    <h2>Statistiques des sondages</h2>

    <div>
        <div>
            <p>Nombre total de sondages : {{ total_questions }}</p>
        </div>
        <div>
            <p>Nombre total de choix : {{ total_choices }}</p>
        </div>
        <div>
            <p>Nombre total de votes : {{ total_votes.votes__sum }}</p>
        </div>
        <div>
            <p>Moyenne de votes : {{ avg_votes.votes__avg }}</p>
        </div>
        <div>
            <p>Dernière question enregistrée : {{ last_question_recorded.question_text }}</p>
        </div>
    </div>
</div>
{% endblock %}
