<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'polls/style.css' %}">
    <title>{% block title %}Bienvenue sur mon site{% endblock %}</title>
</head>

<body>
    <header>
        <div class="header_container">
            {% block header %}{% endblock %}
                <div class="auth_div">
                    {% if user.is_authenticated %}
                        <span>Hi, {{ user.username }}</span>
                        <button>
                            <a href="{% url 'polls:logout' %}">Déconnexion</a>
                        </button>
                    {% else %}
                        <a href="{% url 'polls:login' %}">Connexion</a>
                    {% endif %}
                </div>
        </div>
    </header>

    <main id="content">
        {% block content %}{% endblock %}
    </main>
</body>
</html>