a {
    color: black;
    display: flex;
    flex-direction: col;
    font-size: 20px;
    margin: 10px;
    text-decoration: none;
}

body {
    width: 100%;
    background: white url("images/sondage.jpg") repeat;
}

.poll_container {
    width: 100%;
    height: 100%;
}

h1 {
    text-align: center;
}